<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments::head(title=#{title.buses.new})"></head>
    <body class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <th:block th:replace="fragments::admin-menu(isSuperAdmin=${isSuperAdmin}, active='buses', color='pink')"/>
                <th:block th:replace="fragments::languages"/>
                <div class="container container-form mt-5">
                    <div class="alert alert-success mb-4" th:text="#{buses.new.saved}" th:if="${param.saved}"></div>
                    <th:block th:replace="fragments::toPage(href='/admin/buses', name=#{link.allBuses})"/>
                    <form action="#" th:action="@{/admin/buses/new}" th:object="${bus}" method="post"
                          class="form form-extended d-flex flex-column align-items-center p-4 shadow"
                    >
                        <h2 th:text="#{buses.new.label}" class="mb-4"></h2>
                        <div class="form__element mb-3">
                            <div class="input-group">
                                <th:block th:replace="fragments::input-label(text=#{buses.new.label.model})"/>
                                <input type="text"
                                       th:field="*{model}"
                                       class="input form-control shadow-sm"
                                       required
                                       th:errorclass="input-error"
                                />
                            </div>
                            <div class="alert alert-danger validation-error mt-2"
                                 th:if="${#fields.hasErrors('model')}"
                                 th:text="#{validation.bus.model}">
                            </div>
                        </div>
                        <div class="form__element mb-3">
                            <div class="input-group">
                                <th:block th:replace="fragments::input-label(text=#{buses.new.label.capacity})"/>
                                <input type="number"
                                       th:field="*{capacity}"
                                       min="1"
                                       class="input form-control shadow-sm"
                                       required
                                       th:errorclass="input-error"
                                />
                            </div>
                            <div class="alert alert-danger validation-error mt-2"
                                 th:if="${#fields.hasErrors('capacity')}"
                                 th:text="#{validation.bus.capacity}">
                            </div>
                        </div>
                        <button th:text="#{buses.new.button.submit}" type="submit"
                                class="btn btn-success mb-4 mt-3"></button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
