<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments::head(title=#{title.drivers})"></head>
    <body class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <th:block th:replace="fragments::admin-menu(isSuperAdmin=${isSuperAdmin}, active='drivers', color='blue')"/>
                <th:block th:replace="fragments::languages"/>
                <div class="container mt-5">
                    <div class="alert alert-success mb-4" th:text="#{drivers.driverToBusAssignmentOpened}"
                         th:if="${param.driverToBusAssignmentOpened}"></div>
                    <div class="alert alert-success mb-4" th:text="#{drivers.unassignedFromBus}"
                         th:if="${param.unassignedDriverFromBus}"></div>
                    <div class="alert alert-success mb-4" th:text="#{drivers.unassignedBusFromRoute}"
                         th:if="${param.unassignedBusFromRoute}"></div>
                    <div class="alert alert-success mb-4" th:text="#{buses.assignedBusToRoute}"
                         th:if="${param.assignedBusToRoute}"></div>
                    <div class="justify-content-md-center shadow-lg p-5 mb-5 rounded text-center">
                        <h2 th:text="#{drivers.label}" class="mb-4"></h2>
                        <table class="table-striped table-responsive-lg table-bordered table-sm table-hover table-fixed-rows shadow rounded">
                            <thead>
                                <tr>
                                    <th th:text="#{drivers.table.index}" class="text-center"></th>
                                    <th th:text="#{drivers.table.username}" class="text-center"></th>
                                    <th th:text="#{drivers.table.firstName}" class="text-center"></th>
                                    <th th:text="#{drivers.table.lastName}" class="text-center"></th>
                                    <th th:text="#{drivers.table.bus}" class="text-center"></th>
                                    <th th:text="#{drivers.table.route}" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${page.getTotalElements() eq 0}">
                                    <td th:text="#{drivers.table.empty}" colspan="6"></td>
                                </tr>
                                <tr th:each="driver : ${page.content}">
                                    <td><span th:text="${driverStat.index + 1 + 5 * page.number}"></span></td>
                                    <td><span th:text="${driver.user.username}"></span></td>
                                    <td><span th:text="${driver.user.firstName}"></span></td>
                                    <td><span th:text="${driver.user.lastName}"></span></td>
                                    <th:block th:switch="${driver.bus == null}">
                                        <th:block th:case="true">
                                            <td>
                                                <th:block th:switch="${driver.assignment == null}">
                                                    <a th:case="true"
                                                       th:href="'/admin/buses/assign?driverId='+${driver.id}"
                                                    >
                                                        <button th:text="#{drivers.button.addBus}"
                                                                class="btn btn-warning">
                                                        </button>
                                                    </a>
                                                    <span th:case="false" th:text="#{drivers.waitAssignment}"></span>
                                                </th:block>
                                            </td>
                                            <td th:text="#{drivers.table.busFirst}"></td>
                                        </th:block>
                                        <th:block th:case="false">
                                            <td>
                                                <div class="table_cell_row table_cell_row-bus">
                                                    <span th:text="${driver.bus.id}"></span>
                                                    <form th:action="'/admin/drivers/'+${driver.id}+'/unassign?redirect=drivers'"
                                                          method="post">
                                                        <button th:text="#{drivers.button.unassignFromBus}"
                                                                class="btn btn-danger">
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                            <th:block th:switch="${driver.bus.route == null}">
                                                <th:block th:case="true">
                                                    <td>
                                                        <a th:href="'/admin/routes?busId='+${driver.bus.id}">
                                                            <button th:text="#{drivers.button.addRoute}"
                                                                    class="btn btn-warning"
                                                            ></button>
                                                        </a>
                                                    </td>
                                                </th:block>
                                                <th:block th:case="false">
                                                    <td>
                                                        <div class="table_cell_row">
                                                            <span th:text="${driver.bus.route.number}"></span>
                                                            <form th:action="'/admin/buses/'+${driver.bus.id}+'/unassign?redirect=drivers'"
                                                                  method="post"
                                                            >
                                                                <button th:text="#{drivers.button.unassignBusFromRoute}"
                                                                        class="btn btn-danger">
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </th:block>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </tr>
                            </tbody>
                        </table>
                        <th:block th:unless="${page.getTotalPages() < 2}">
                            <th:block th:replace="fragments::pagination(page=${page},link='/admin/drivers',pageSize=5)"/>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
