<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments::head(title=#{title.assignments})"></head>
    <body class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <th:block th:replace="fragments::admin-menu(isSuperAdmin=${isSuperAdmin}, active='assignments', color='pink')"/>
                <th:block th:replace="fragments::languages"/>
                <div class="container mt-5">
                    <div class="alert alert-success mb-4" th:text="#{assignments.assignmentCanceled}"
                         th:if="${param.assignmentCanceled}"></div>
                    <div class="alert alert-danger mb-4" th:text="#{assignments.doesNotExist}"
                         th:if="${param.doesNotExist}"></div>
                    <div class="alert alert-danger mb-4" th:text="#{assignments.alreadyExists}"
                         th:if="${param.alreadyExists}"></div>
                    <div class="justify-content-md-center shadow-lg p-5 mb-5 rounded text-center">
                        <h2 th:text="#{assignments.label}" class="mb-4"></h2>
                        <table class="table-striped table-responsive-lg table-bordered table-sm table-hover shadow rounded">
                            <thead>
                                <tr>
                                    <th th:text="#{assignments.table.index}" class="text-center"></th>
                                    <th th:text="#{assignments.table.driverFullName}" class="text-center"></th>
                                    <th th:text="#{assignments.table.busNumber}" class="text-center"></th>
                                    <th th:text="#{assignments.table.routeNumber}" class="text-center"></th>
                                    <th th:text="#{assignments.table.initiatorFullName}" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${page.getTotalElements() eq 0}">
                                    <td th:text="#{assignments.table.empty}" colspan="6"></td>
                                </tr>
                                <tr th:each="assignment : ${page.content}">
                                    <td><span th:text="${assignmentStat.index + 1 + 5 * page.number}"></span></td>
                                    <td>
                                        <span th:text="${assignment.driver.user.firstName}+' '+${assignment.driver.user.lastName}">
                                        </span>
                                    </td>
                                    <td>
                                        <div class="table_cell_row table_cell_row-bus">
                                            <span th:text="${assignment.bus.id}"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span th:if="${assignment.bus.route == null}"
                                              th:text="#{assignments.table.noRoute}">
                                        </span>
                                        <div th:unless="${assignment.bus.route == null}" class="table_cell_row">
                                            <span th:text="${assignment.bus.route.number}"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span th:text="${assignment.initiator.firstName}+' '+${assignment.initiator.lastName}">
                                        </span>
                                    </td>
                                    <td>
                                        <form th:action="'/admin/assignments/delete/'+${assignment.id}" method="post">
                                            <button th:text="#{assignments.button.cancel}"
                                                    class="btn btn-danger">
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <th:block th:unless="${page.getTotalPages() < 2}">
                            <th:block th:replace="fragments::pagination(page=${page},link='/admin/assignments',pageSize=5)"/>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
